.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.2rem;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
}
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 3rem;
}

.error-message {
  background-color: #fdd;
  border: 1px solid #f99;
  color: #d00;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1.2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.thumbnail {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
}

.card-body h3 {
  margin: 0;
  color: #333;
  font-size: 1.2em;
  line-height: 1.4;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.pagination button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.75rem;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
  background-color: #0056b3;
}

.pagination span {
  font-weight: 700;
  color: #333;
  margin: 0 0.8rem;
}

.note {
  position: absolute;
  font-weight: 700;
  color: #333;
  top: 36px;
  left: 36px;
}
.note :nth-child(2) {
  display: block;
}

/* pagination */
/* gallery.component.css */
/* Existing styles... */

.scroll-to-pagination-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-note {
  position: absolute;
  bottom: 58px;
  right: 12px;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  white-space: nowrap;
}

.scroll-to-pagination-container:hover .scroll-note {
  opacity: 1;
  visibility: visible;
}

.scroll-to-pagination {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative; /* Ensure that the note is positioned relative to this button */
}

.scroll-to-pagination:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
